<h1>Admin Dashboard</h1>

<table class="table">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <th>Number of products</th>
      <td><%= link_to @products.count, [:admin, :products], class: "list-group-item list-group-item-action" %></td>
    </tr>
    <tr>
      <th>Number of categories</th>
      <td><%= link_to @categories.count, [:admin, :products], class: "list-group-item list-group-item-action" %></td>
    </tr>
  </tbody>
</table>
