<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center">Hello! Here are you order details</div>
    <h1>Order No., <%= @order.id %></h1>
    <%# Show Table %>
    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <%# Show e-mail %>
          <tr>
            <th>Email: </th>
            <td><%= @order.email %></td>
          </tr>
        </thead>
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%# Render all items as table elements %>
          <%= render 'line_item', line_items: @order.line_items %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>