<h1>About</h1>
<p>We have trees. Buy it from us, and give us money. It's a really good deal, you give us money, and we might send you a tree. You'll pay more than we did for cutting the tree, but that's just how this thing works. And it's not a one time deal, like, you can take more trees! As long as the money comes to to us. Give us money, and you might get a tree.</p>
<br/>
<p>Also, the guy who's making minor changes to this website, he's a horrible person who's charging us a lot of money to do this, and we've had to sell little Timmy just so we could pay him. So please, buy a tree from us so we can get this monster out of our lives.</p>